
/* variables */

:root {
    --basic-black: #000000;
    --basic-dark-gray: #283136;
    --basic-promo-gray: #444444;
    --basic-gray: #A6A6A6;
    --basic-contact-gray :#666666;
    --basic-light-gray: #EEEEEE;
    --basic-light-gray-social: #E1E1E1;
    --basic-white: #FFFFFF;
    --transparent-white: rgba(255,255,255,0.3);

    
    
    --mobile-green: #00CA74;
    --mobile-green-hover: #00BC6C;
    --mobile-green-active: #00AA62;

    --web-coral: #FB565A;
    --web-coral-hover: #E74246;
    --web-coral-active: #D7373B;

    --presentation-yellow: #EFC849;
    --presentation-yellow-hover: #EAB534;
    --presentation-yellow-active: #E5A722;

    --button-grey: #DFDFDF;

    --scale-grey: #D7DCDF;
    --scale-green: #00CA74;
    --scale-slider: #ABABAB;
}

/* Global */

.page {
    height: 100%;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-dark-gray);
    background-color: var(--basic-white);
    display: grid;
    min-height: 100%;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    margin: 0 auto;
}

.filter-radio-list,
.filter-checkbox-list,
.promo-list,
.page-number-list,
.catalog-list,
.sort-controls-list,
.partners-list,
.social-list,
.info-list,
.shop-list,
.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0px;
}
/* main navigation */

.main-navigation {
    background-color: var(--basic-light-gray);

}

.cart,
.site-navigation {
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: transparent;
}

/* user navigation */

.main-header-logo,
.nav-link,
.cart {
    color: var(--basic-black);
}

.nav-link:active:not(.hover),
.cart:active:not(.hover) {
    color: var(--basic-black);
    opacity: 0.3;    
}

.nav-link:hover,
.cart:hover {
    color: var(--web-coral);
}

.main-header-logo:hover {
    opacity: 0.7;
}
.main-header-logo:active {
    opacity: 0.3;
}

/*main carousel */


.main-carousel {
    background-color: var(--basic-light-gray);
}

.carousel-heading {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
    margin-bottom: 25px;
    margin-top: 78px;
    padding: 0;
    white-space: nowrap;
}

/* footer */

.contacts-heading {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    margin-left: 50px;
    text-align: left;
}

.contacts-address {
    color: var(--basic-contact-gray);
    font-style: normal;
}

.cart,
.sort-link,
.nav-link,
.contacts-phone {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}

.button-social {
    color: inherit;
}

.social-item {
    display: flex;
    color: var(--basic-white);
    background-color: var(--basic-light-gray-social) ;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

/* Services */

.shop-item-heading {
    line-height: 30px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin: 25px 0px 16px;
    padding: 0px;
}

/* info */

.info-heading {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.info-list-heading {
    font-weight: bold;
    text-transform: uppercase;
}

.promo-list-percent {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
}

.promo-list-item {
    line-height: 18px; 
    font-size: 16px;
}

.promo-slogan {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    padding-top: 0px;
    margin: 0px;
}

.promo-text {
    color:var(--basic-promo-gray);
    line-height: 22px;
}

/* buttons */

.button-text-us,
.button-web,
.button-app,
.button-presentation {
    max-width: 160px;
    max-height: 50px;
}

.button {
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    max-height: 50px;
    padding: 15px 40px;
    border-radius: 5px;

}

.send-button,
.button-text-us,
.button-price,
.social-item:hover,
.slider-button,
.button-web{
    color: var(--basic-white);
    background-color: var(--web-coral);
}

.send-button:hover,
.button-text-us:hover,
.button-price:hover,
.slider-button:hover,
.button-web:hover {
    color: var(--basic-white);
    background-color: var(--web-coral-hover);
}

.send-button:active:not(.hover)
.button-text-us:active:not(.hover),
.social-item:active:not(.hover),
.slider-button:active:not(.hover),
.button-web:active:not(.hover) {
    color: var(--transparent-white);
    background-color: var(--web-coral-active);
}

.button-presentation{
    color: var(--basic-white);
    background-color: var(--presentation-yellow);
}

.button-presentation:hover {
    color: var(--basic-white);
    background-color: var(--presentation-yellow-hover);
}

.button-presentation:active:not(.hover) {
    color: var(--transparent-white);
    background-color: var(--presentation-yellow-active);
}
  
.button-app{
    color: var(--basic-white);
    background-color: var(--mobile-green);
}

.button-app:hover {
    color: var(--basic-white);
    background-color: var(--mobile-green-hover);
}

.button-app:active:not(.hover) {
    color: var(--transparent-white);
    background-color: var(--mobile-green-active);
}

.button-partners {
    opacity: 0.2;
}
.button-partners:hover {
    opacity: 1;
   
}
.button-partners:active:not(.hover) {
    opacity: 0.1;
}

/* catalog */

.inner-header {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    color: var(--basic-black);
    margin-bottom: 108px;
}

.product-heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-black);
}

.product-description {
    color: var(--basic-contact-gray);
    text-align: center;
}

/* catalog controls */
.sort-heading,
.filter-heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-slider-text {
    line-height: 22px;
    text-transform: uppercase;
}

.filter-checkbox-item,
.filter-list-item {
    font-size: 16px;
    line-height: 19px; 
}

.sort-item {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
}

.sort-item:active:not(.hover) {
    opacity: 1;
}

.sort-item:hover {
    opacity: 0.6;
}

.button-price:active:not(.hover) {
    color: var(--basic-white);
    background-color: var(--web-coral-active);
}

.button-page,
.button-next-page {
    color: var(--basic-black);
    background-color: var(--basic-light-gray);
}

.button-page:hover,
.button-next-page:hover {
    color: var(--basic-black);
    background-color: var(--button-grey);
}

.button-page:active:not(.hover),
.button-next-page:hover:not(.hover) {
    color: var(--basic-black);
    background-color: var(--button-grey);
    opacity: 0.3;
}

.button-text-us {
    margin: 22px auto 0;
}

/* Grid */

.invisible-text {
    display: none;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
    align-items: flex-end;
}

.main-carousel {
    display: grid;
    max-height: 431px;
    max-width: 1157px;
    grid-template-columns: auto auto;

}

.shop-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-info {
    display: grid;
    grid-template-columns: 2fr 1fr ;
}

.promo-wrapper {
    display: grid;
    grid-template-rows: auto auto;
}

.promo-list {
    display: flex;
}

.partners-list {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
}

.partner-logo {
    justify-content: center;
    margin: 0;
}

.main-footer {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: auto auto;
}

.social-contacts {
    order: 2;
    margin-left: 140px;
    margin-top: 68px;
    margin-right: 139px;
}

.social-list {
    display: flex;
}

.contacts-container {
    grid-column: 1/-1;
    background-image: url(../img/elements/map-1.png);
    background-size: cover;
    height: 416px;
}

.footer-promo {
    order: 3;
    margin-top: 75px;
}

.center {
    width: 1160px;
    margin: 0 auto;
}

.infinite-background {
    background-color: var(--basic-light-gray); 
}

/* catalog grid */

.inner-wrapper {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 360px 360px 360px;
    gap: 40px;
}

.catalog-filter {
    grid-column: 1/1;
    grid-row: 1/-1;
}

.inner-catalog {
    grid-column: 2/-1;
    margin: 0px;
    padding: 0px;
}

.sort-wrapper {
    display: flex;
    margin-bottom: 48px;
    justify-content: space-between;
    
}

.sort-controls-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 358px; 
}

.catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 40px;
}

.page-number-list {
    display: flex;
    align-items: flex-start;
    margin-right:11px;
}

.catalog-item {
    width: 360px;
    height: 620px; 
    grid-template-rows: 40px 578px;
    position: relative;
}

.product-info {
    width: 360px;
    height: 231px;
    background-color: var(--basic-light-gray);
    position: absolute;
    bottom: 0px;
    opacity: 0;
}

.product-info:hover {
    bottom: 0px;
    opacity: 1;
}

.browser {
    width: 360px;
    height: 40px;
    background-image: url(../img/elements/browser-light.svg)    
}

.browser:hover {
    width: 360px;
    height: 40px;
    background-image: url(../img/elements/browser.svg)  
}

.site-navigation {
    display: flex;
    justify-content: center;
}

.nav-link {
    padding-right: 45px;
}

.cart::before {
    content: "";
    width: 15px;
    height: 15px;
    position:absolute;
    background-image: url(../img/elements/cart-icon.svg);
    background-repeat: no-repeat;
    top: 5px;
    left: 20px;
    background-position: 0 0;
}

.cart {
    position: relative;
    padding-left: 50px;
}

.page-number-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.page-number-item {
    display: grid;
    margin-right: 11px;
    height: 50px;
    align-items: center;
}

.catalog-list {
   margin-bottom: 55px;
}

.button-page {
    display: grid;
    max-width: 260px;
    max-height: 50px;
    align-items: center;
}

.button-next-page {
    width: 260px;
}

.main-container {
    padding:  80px 0px 80px;
    border-bottom: var(--basic-light-gray) solid 2px;
}

.main-info {
    padding: 39px 0 73px;
    border-bottom: var(--basic-light-gray) solid 2px;
}

.partners-container {
    border-bottom: var(--basic-light-gray) solid 2px;
    margin-bottom: 80px;
}

.contact-form {
    display: grid;
    width: 319px;
    height: 308px;
    background-color: var(--basic-white) ;
    margin-top: 54px;
    margin-bottom: 54px;
    margin-left: 140px;
    align-content: center;
    text-align: center;
}

.main-footer {
    width: 1440px;
    margin: 0 auto;
}

.filter-wrapper {
    width: 260px;
}

.filter-wrapper fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.inner-wrapper {
    margin-top: 55px;
    margin-bottom: 60px;
}

.carousel-text {
    margin-bottom: 36px;
}

.shop-item {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    padding: 0;
}

.shop-item p {
    max-width: 260px;
}

.sup {
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 40px;
}

.promo-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.partner-logo {
    background-image: url(../img/elements/border-partners.png);
    background-position: right center;
    background-repeat: no-repeat;
}

.partner-logo:last-child {
    background: none;
}

.partner-logo  {
    padding-top: 46px;
    padding-bottom: 44px;
}

.info-list-item {
    padding-left: 30px;
}

.info-list-item::before {
    content: "";
    width: 25px;
    height: 2px;
    position: absolute;
    background-image: url(../img/elements/info-list-bullet.png);
    background-repeat: no-repeat;
    transform: translate(-30px, 10px);
}

.carousel-wrapper {
    max-width: 397px;
}

.slide {
    display: none;
}

.slide-current {
    display: block;
}

.slider-controls {
    display:flex;
    position: relative;
    top: 317px;
    text-align: center;
    bottom: 96px;
    margin-left: 50%;
}

.slider-controls button {
    padding: 0;
    background-color: var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-right: 22px;
    border: 0px
}

.contacts-adress{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px; 
    text-decoration: none;
    text-align: justify;
    width: 230px;
    margin-left: 50px;
    color: var(--basic-contact-gray);
}

.contact-form-window {
    width: 960px;
    height: 590px;
}

.form-header {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;  
    padding-left: 100px;
}

.email-item {
    width: 358px;
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

}

.form-email {
    display: flex;
    flex-wrap: wrap;
    width: 761px;
    height: 353px;
    justify-content: space-between;
    margin-left: 84px;
}

.creditnails {
    width: 358px;
    height: 48px;
}

.email-box {
    width: 761px;
    height: 145px;
    resize: none;
}

.mail-text-item {
    width: 761px;
}

.send-button {
    width: 259px;
    height: 50px;
    border:none;
}

.modal {
    position: fixed;
    background-color: var(--basic-white);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 960px;
    height: 590px;
    margin: auto;
    top: 100px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    display: none;  
}

.modal-close {
    position: absolute;
    top: 55px;
    right: 90px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-image: url(../img/elements/close-cross-1.png);
    border: 0;
    cursor: pointer;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
}

.filter-cost {
    width: 260px;
    margin-top: 48px;
}

.filter-controls {
    position: relative;
    height: 41px;
    background-color: var(--basic-light-gray);
    border-radius: 5px;
    margin-bottom: 14px;
    padding-left: 33px;
    padding-right: 22px;
    padding-top: 39px;
}

.scale {
    height: 2px;
    background-color: var(--scale-grey);
}

.bar {
    height: 2px;
    background-color: var(--scale-green);
}

.toggle {
    width: 4px;
    height: 4px;
    border:8px solid var(--basic-white);
    background-color: var(--scale-slider);
    border-radius: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 30px;
    left: 0px;
    cursor: pointer;
}

.toggle-min {
    left: 18px;
}

.toggle-max {
    left: 160px;
}

.filter-input {
    width: 60px;
    padding: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-heading {
    padding-top: 20px;
}


.catalog-filter fieldset {
    margin-bottom: 54px;
}

.filter-checkbox-list li,
.filter-radio-list li {
    padding-top: 15px;
    padding-left: 33px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.filter-list-item,
.filter-checkbox-item {
    position: relative;
}

.filter-list-item label,
.filter-checbox-item label {
    cursor: pointer;
}


.filter-input-checkbox:not(:checked) + label::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 23px;
    height: 23px;
    background-image: url(../img/elements/checkbox-off.png);
  }

  .filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: 0px;
    width: 25px;
    height: 23px;
    background-image: url(../img/elements/checkbox-on.png);
  }

  .filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 17px;
    height: 17px;
    border: 4px solid #4d4d4d;
    border-radius: 50%;
    opacity: 60%;
  }

  .filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 23px;
    width: 9px;
    height: 9px;
    background-color: #4d4d4d;
    border-radius: 50%;
    opacity: 60%;
  }